:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  color: #0f0f0f;
  background-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.version {
  opacity: 0.5;
  font-size: 0.9rem;
  margin: 0;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
